body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav-link{
  color: white !important;
}
#carousel{
  max-height: 500px;
}

.company {
  font-family: "Jersey 20", sans-serif;
  font-style: normal;
}

.card-img{
  object-fit: contain !important;
  height:50%;
}


.glow-on-hover {
  transition: text-shadow 0.3s ease-in-out;

}
.newUser{
  text-decoration: underline;
}
.glow-on-hover:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}


.JNFsec {
  /* ff 3.6+ */
  background: -moz-radial-gradient(circle at 47% 50%, rgba(0, 160, 255, 1) 0%, rgba(0, 188, 212, 0.21) 0%, rgba(0, 188, 212, 0.19) 50%, rgba(137, 130, 238, 0.09) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 47% 50%, rgba(0, 160, 255, 1) 0%, rgba(0, 188, 212, 0.21) 0%, rgba(0, 188, 212, 0.19) 50%, rgba(137, 130, 238, 0.09) 100%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 47% 50%, rgba(0, 160, 255, 1) 0%, rgba(0, 188, 212, 0.21) 0%, rgba(0, 188, 212, 0.19) 50%, rgba(137, 130, 238, 0.09) 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 47% 50%, rgba(0, 160, 255, 1) 0%, rgba(0, 188, 212, 0.21) 0%, rgba(0, 188, 212, 0.19) 50%, rgba(137, 130, 238, 0.09) 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 47% 50%, rgba(0, 160, 255, 1) 0%, rgba(0, 188, 212, 0.21) 0%, rgba(0, 188, 212, 0.19) 50%, rgba(137, 130, 238, 0.09) 100%);
  margin-top: 5%;
}
